@import 'settings';

body{
    background-color: $primary-background;
    font: $primary-copy-font;
    font-size: 12;
}

h1{
    color: $primary-dark;
    font: $primary-title-font;
    font-size: 4em;
    font-style: italic;
}

h2{
    color: $primary-highlight;
    font: $secondary-title-font;
    font-size: 2em;
    font-style: italic;
}

.sketch{
    background-color: $primary-highlight;
    height: 92vh;
}

// nav
.list-group-item{
    background-color: $primary-light;
    color: $primary-dark;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 1s;
    &:hover{
        background-color: $primary-dark;
        color: $primary-light;
        letter-spacing: 2px;
    }
}
