//-----------------------
//      MAIN THEME SETTINGS
//-----------------------

// COLOURS
$primary-background: #bafcf8;
$primary-highlight: #fcf8ba;
$primary-dark: #f8bafc;
$primary-light: #effcfb;

// FONTS
$primary-title-font: 'Lato', sans-serif;
$secondary-title-font: 'Roboto', sans-serif;
$primary-copy-font: 'Raleway', sans-serif;
