//-----------------------
//      MAIN THEME SETTINGS
//-----------------------

// COLOURS
$primary-background: #d7e6e3;
$primary-highlight: #e17a97;
$primary-dark: #000000;
$primary-light: #ffffff;

// FONTS
$primary-title-font: 'Lato', sans-serif;
$secondary-title-font: 'Roboto', sans-serif;
$primary-copy-font: 'Raleway', sans-serif;
